<mat-card style="text-align: center; color: darkslategray">
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="dialogType=='create'">Créer une musique</h1>
      <h1 *ngIf="dialogType=='update'">Modifier une musique</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="normal-form">
      <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
        <mat-form-field class="title" >
          <mat-label>Titre</mat-label>
          <input formControlName="title" name="title" matInput placeholder="Titre de la chanson..." required/>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le Titre est obligatoire.</mat-error>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le titre doit avoir au moins 2 caractères.</mat-error>
        </mat-form-field>
      </p>
      <p [class.errors]="form.get('description')!.invalid && (form.get('description')!.dirty || form.get('description')!.touched)">
        <mat-form-field class="description" >
          <mat-label>Description</mat-label>
          <input formControlName="description" name="description" matInput placeholder="Description..."/>
          <mat-error *ngIf="form.get('description')!.dirty && form.get('description')!.errors?.['required']"><br />La description est obligatoire.</mat-error>
          <mat-error *ngIf="form.get('description')!.dirty && form.get('description')!.errors?.['minlength']"><br />La description doit avoir au moins 2 caractères.</mat-error>
        </mat-form-field>
      </p>
      <p [class.errors]="form.get('album')!.invalid && (form.get('album')!.dirty || form.get('album')!.touched)">
        <mat-form-field class="album" >
          <mat-label>Album</mat-label>
          <input formControlName="album" name="album" matInput placeholder="Album..." required/>
          <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['required']"><br />L'album est obligatoire.</mat-error>
          <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['minlength']"><br />L'album doit avoir au moins 2 caractères.</mat-error>
        </mat-form-field>
      </p>
      <p [class.errors]="form.get('artist')!.invalid && (form.get('artist')!.dirty || form.get('artist')!.touched)">
        <mat-form-field class="artist" >
          <mat-label>Artiste</mat-label>
          <input formControlName="artist" name="artist" matInput placeholder="artist..." required/>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />L'artiste est obligatoire.</mat-error>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['minlength']"><br />L'artiste doit avoir au moins 2 caractères.</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="chip-list" >
          <mat-label>Styles :</mat-label>
          <mat-chip-grid #chipList aria-label="Intitulés des fonctions de l'employés">
            <mat-chip *ngFor="let titre of music.styles" (removed)="removeChipset(titre)" >
              {{titre}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Rock..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-grid>
        </mat-form-field>
      </p>
      <p [class.errors]="form.get('duration')!.invalid && (form.get('duration')!.dirty || form.get('duration')!.touched)">
        <mat-form-field class="duration" >
          <mat-label>Durée :</mat-label>
          <input formControlName="duration" name="duration" matInput placeholder="duration..." required/>
          <mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['required']"><br />La durée est obligatoire.</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="date">
          <input matInput [matDatepicker]="picker" placeholder="Date de sortie"
               formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="music.picture" >
        <img width="100" src="{{music.picture}}" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="music.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!music.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-dialog-actions align="end">
    <button *ngIf="dialogType=='create'" mat-raised-button color="primary" [disabled]="!form.valid" (click)="validate(form.value)">
      Créer
    </button>

    <button *ngIf="dialogType=='update'" mat-raised-button color="primary" [disabled]="!form.valid" (click)="validate(form.value)">
      Modifier
    </button>

    <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
</mat-dialog-actions>

