.music-tile {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.music-tile-image-container {
    width: 150px;
    height: 150px;
}

.music-tile-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.music-tile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .music-tile {
        width: calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .music-tile {
        width: 100%;
    }
}
