<mat-card class="container">

  <div class="music-tile">
    <div class="music-tile-image-container">
      <img *ngIf="music.picture !== undefined" mat-card-image [src]="music.picture">
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="music-details">
      <h2>{{ music.title }}</h2>
      <p>
        <i *ngIf="music?.description?.length == 0">Aucune description</i>
        <i *ngIf="music?.description?.length != undefined && (music.description?.length ?? -1) > 0">{{ music.description }}</i>
      </p>
        <h3>Album</h3>
        {{ music.album }}
        <h3>Artiste</h3>
        {{ music.artist }}
        <h3>Durée</h3>
        {{ music.duration }}
        <h3>Date de sortie</h3>
        {{ music.date }}
        <h3>Styles</h3>
        <ul>
          <li *ngFor="let style of music.styles; let i=index">{{style}}</li>
        </ul>
      <!--<button mat-icon-button color="primary" (click)="openEditMusicDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openDeleteMusicDialog()">
        <mat-icon>delete</mat-icon>
      </button>-->
      </div>
  </div>
  <button mat-icon-button color="primary" [routerLink]="'/musics'"><mat-icon>home</mat-icon></button>
</mat-card>
