
<div class="container">
  <div class="table-toolbar">
    <mat-form-field>
      <input type="text" matInput placeholder="Chercher un titre..." [(ngModel)]="searchTerm">
    </mat-form-field>
    <button  mat-flat-button color="warn" (click)="searchByTerm()">Chercher</button>
    <button  mat-flat-button color="warn" (click)="addMusic()">Ajouter une musique</button>
    <button  mat-flat-button color="warn" (click)="randomMusic()">Trouver une musique aléatoire</button>
    <button (click)="switchView()" mat-fab color="warn">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </div>

  <section [ngSwitch]="view">

    <!-- Card view -->
    <section *ngSwitchCase="'card'" style="display: flex;" class="music-tile-container">
      <app-music-tile class="tile" *ngFor="let music of dataSource.data" (deleteButtonEvent)="deleteMusic(music.id ?? '-1')" (updateButtonEvent)="editMusic(music.id ?? '-1')" [music]="music" [routerLink]="'/music/' + music.id"></app-music-tile>
    </section>

    <!-- List view -->
    <section *ngSwitchCase="'list'">
      <mat-table class="musicsTable" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="picture">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let music">
            <img *ngIf="music!.picture !== undefined" width="100" [src]="music.picture">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
          <mat-cell *matCellDef="let music">{{ music.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let music">
            <i *ngIf="music.description.length == 0">Vide</i>
            {{ music.description }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="album">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Album</mat-header-cell>
          <mat-cell *matCellDef="let music">{{ music.album }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="artist">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Artiste</mat-header-cell>
          <mat-cell *matCellDef="let music">{{ music.artist }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let music">{{ music.date | date }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="style">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Style(s)</mat-header-cell>
          <mat-cell *matCellDef="let music">{{ music.styles }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="update">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let music">
            <button mat-icon-button color="primary" (click)="editMusic(music.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let music">
            <button mat-icon-button color="primary" (click)="deleteMusic(music.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/music/' + row.id"></mat-row>
      </mat-table>
    </section>
  </section>
</div>
