.music-tile-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.music-tile {
width: calc(33.33% - 10px);
margin-bottom: 20px;
box-sizing: border-box;
display: flex;
}

@media (max-width: 992px) {
.music-tile {
  width: calc(50% - 10px);
}
}

@media (max-width: 576px) {
.music-tile {
  width: 100%;
}
}
.table-toolbar{
  margin: 20px 0px 20px 0px;
  border-radius: 7px;
  padding: 15px 0px 7px 15px;
  background-color: #2a6969;
}

.container{
  padding: 0px 20px 0px 20px;
}
mat-row:hover, .tile:hover{
  filter: brightness(0.8);
  cursor: pointer;
}
